<!DOCTYPE html>
<html>
	<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
    <script src="/public/scripts.js"></script>
  </head>  
    <body>

      <div class="head">
        <%- include('common/head') %>
      </div>

      <div class = "container">

        <div class="nav">
          <%- include('common/nav') %>
        </div>             

       
        <div id="content"> 
          <div id="canvas">
            <div class="content-nav">
              <input type="button" id="plus" value="+" onclick="zoomInOut(0.1)">
              <input type="button" id="minus" value="-" onclick="zoomInOut(-0.1)">
              <input type="button" value="reset" onclick="reset()">
              <input type="button" value="expand" onclick="expand()">
              <input type="button" value="&larr;" onclick="moveLeft()">
              <input type="button" value="&rarr;" onclick="moveRight()">
              <input type="button" value="&uarr;" onclick="moveTop()">
              <input type="button" value="&darr;" onclick="moveBottom()">
            </div> 
            <canvas></canvas>       
          </div>
          <div id="data"> </div>
          <% if(typeof content === "undefined") {  }else{ %>
            <%- include(content) %>
          <% } %>
        </div>  

      </div>     

    </body>
</html>