<!DOCTYPE html>
<html>
	<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
    <script src="/public/scripts.js"></script>
  </head>  
  
    <body>

      <div class="head">
        <button class="openbtn" onclick="openNav()">☰</button>  
        <%- include('common/head') %>
      </div>

      <div class = "container">

    
          <div id="mySidebar" class="sidebar">
            <button class="openbtn" onclick="ChkAllSelect()">☰</button>  
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <% if(typeof worksList !== "undefined") { %>
              <%- worksList %>
            <% } %>          
          </div>
            

       
        <div id="content">          
          <div id="data"> </div>
          <% if(typeof content === "undefined") {  }else{ %>
            <%- include(content) %>
          <% } %>
        </div>  

      </div>     

    </body>

    <script>

      function ChkAllSelect(){  

        var tog = document.getElementsByClassName("box");

        var i;
        
        for (i = 0; i < tog.length; i++) {

              tog[i].parentElement.querySelector(".nested").classList.toggle("active");
              tog[i].classList.toggle("check-box");              
        
          }

      }


      function openNav() {
          document.getElementById("mySidebar").style.width = "300px";
          document.getElementById("content").style.marginLeft = "300px";
        }

        function closeNav() {
          document.getElementById("mySidebar").style.width = "0";
          document.getElementById("content").style.marginLeft= "0";
        }


        var toggler = document.getElementsByClassName("box");
        var i;
        
        for (i = 0; i < toggler.length; i++) {
          toggler[i].addEventListener("click", function() {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("check-box");
          });
        }


    </script>

         
</html>