<!DOCTYPE html>
<html>
	<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:3000/public/style.css">   
    <!-- <script data-main="require-main" src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.16/require.js"></script> -->
   
  </head>  
    <body>

      <div class="head">
        <button class="btn" onclick="openSidebar()">☰</button>  
        <%- include('common/head') %>
      </div>
      
      <%- include('common/sidebar') %>

      <div class = "container">          
        
        <div id="data"></div>   

        <div class="content"> 

          <object id="mainView" type="image/svg+xml" data="/public/asset/tiger1.svg" onload="requireSvgPanZoom()"></object>
                     
          <% if(typeof content === "undefined") {  }else{ %>   <%- include(content) %>   <% } %>
        </div>  

      </div>    

      <script src= "http://localhost:3000/public/scripts.js"></script>
      <script href= "http://localhost:3000/public/dist/svgpan.js"></script>
    </body>
    <script>
      function requireSvgPanZoom() {
        var root = document.querySelector('object').getSVGDocument();
        setupHandlers(root);
      
//   require.config({
//   paths: {
//     'svg-pan-zoom': '../public/dist/svg-pan-zoom'
//   }
// })

// require(["svg-pan-zoom"], function(svgPanZoom) {
//   svgPanZoom('#mainView', {
//     zoomEnabled: true,
//     controlIconsEnabled: true,
//     maxzoom: 1000
//   });
// });

 }

document.getElementById("mainView").addEventListener("mouseenter", function(){
  //console.log("mouseenter")
})

// let vb = document.createElement('div');

// vb.style.left = 0;
// vb.style.top = 0;
// vb.style.width = '300px';
// vb.style.height = '300px';
// vb.style.border = '1px solid red';
// vb.style.position = 'absolute';
// vb.style.zIndex = 99999999999;

//   document.body.appendChild(vb);

//   document.addEventListener('mousemove', (e) => {
//     let halfWidth = parseInt(vb.style.width) / 2;
//     let halfHeight = parseInt(vb.style.height) / 2;

//     let centerX = e.clientX - halfWidth;
//     let centerY = e.clientY - halfHeight;

//     vb.style.left = centerX + "px";
//     vb.style.top = centerY + "px";
//   });

      function expandList() {  

        let nes = document.getElementsByClassName("nested");
        let box = document.getElementsByClassName("box");

        if(nes[0].classList !== "nested active") {
          
            for (var i = 0; i < nes.length; i++) {

                if(nes[i].classList == "nested"){

                  nes[i].classList.toggle("active");
                  box[i].classList.toggle("check-box");    
                    
                } 

            }

         }

      }

            
      function resetList() {  

            let nes = document.getElementsByClassName("nested");
            let box = document.getElementsByClassName("box");

            if(nes[0].classList == "nested active") {
              
              for (var k = 0; k < nes.length; k++) {
                
                if(nes[k].classList == "nested active" ){

                  if(k==0) continue;
                  
                  nes[k].classList.toggle("active");
                  box[k].classList.toggle("check-box");    
                    
                } 

              }


            } 

      }

     

      function openSidebar() {
        
        let para = document.querySelector('#sidebar');
        let compStyles = window.getComputedStyle(para);
        var currentDisplay = compStyles.getPropertyValue('display');        
        
         if (currentDisplay == "block"){
          document.getElementById("sidebar").style.display = "none";
          document.getElementById("content").style.paddingLeft = "0";
          
        } else {
          document.getElementById("sidebar").style.display = "block";   
        
        }

        
      }

        function closeNav() {
          document.getElementById("sidebar").style.display = "none";
          document.getElementById("content").style.paddingLeft= "0";
          
        }


     

        var toggler = document.getElementsByClassName("box");
        var i;
        
        for (i = 0; i < toggler.length; i++) {
          toggler[i].addEventListener("click", function() {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("check-box");
           
          });
        }


    </script>

         
</html>