<!DOCTYPE html>
<html>
	<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link rel="stylesheet" href="http://localhost:3000/public/style.css">
    <script src= "http://localhost:3000/public/scripts.js"></script>
  </head>  
  
    <body>

      <div class="head">
        <button class="btn" onclick="openSidebar()">☰</button>  
        <%- include('common/head') %>
      </div>

      <div class = "container">
    
        <div id = "sidebar">
          <div id = "sidebar-nav">
            <button class="btn" onclick="expandList()">expand</button>  
            <button class="btn" onclick="resetList()">reset</button>  
          </div>
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
          <% if(typeof worksList !== "undefined") { %>
            <%- worksList %>
          <% } %>          
        </div>
       
        <div id="content">       
            <div id="canvas">
            <div id="canvas-nav">
              <input type="button" class="btn" id="plus" value="+" onclick="zoomInOut(0.1)">
              <input type="button" class="btn" id="minus" value="-" onclick="zoomInOut(-0.1)">
              <input type="button" class="btn" value="reset" onclick="reset()">
              <input type="button" class="btn" value="expand" onclick="expand()">
              <input type="button" class="btn" value="&larr;" onclick="moveLeft()">
              <input type="button" class="btn" value="&rarr;" onclick="moveRight()">
              <input type="button" class="btn" value="&uarr;" onclick="moveTop()">
              <input type="button" class="btn" value="&darr;" onclick="moveBottom()">
            </div> 
            <canvas id="canvas-img"></canvas>   
          </div>    
     
          <div id="data"> </div>
          <% if(typeof content === "undefined") {  }else{ %>
            <%- include(content) %>
          <% } %>
        </div>  

      </div>     

    </body>

    <script>

      function expandList() {  

        let nes = document.getElementsByClassName("nested");
        let box = document.getElementsByClassName("box");

        if(nes[0].classList !== "nested active") {
          
            for (var i = 0; i < nes.length; i++) {

                if(nes[i].classList == "nested"){

                  nes[i].classList.toggle("active");
                  box[i].classList.toggle("check-box");    
                    
                } 

            }

      }

      }

            
      function resetList() {  

            let nes = document.getElementsByClassName("nested");
            let box = document.getElementsByClassName("box");

            if(nes[0].classList == "nested active") {
              
              for (var k = 0; k < nes.length; k++) {
                
                if(nes[k].classList == "nested active" ){

                  if(k==0) continue;
                  
                  nes[k].classList.toggle("active");
                  box[k].classList.toggle("check-box");    
                    
                } 

              }


            } 

      }



      function openSidebar() {
        
        let para = document.querySelector('#sidebar');
        let compStyles = window.getComputedStyle(para);
        var currentWidth = compStyles.getPropertyValue('width');        
       
        var marginLeft = document.getElementById("content").style.marginLeft;


        if (currentWidth === "300px"){
          document.getElementById("sidebar").style.width = "0";
          document.getElementById("content").style.marginLeft = "0"
          
        } else {
          document.getElementById("sidebar").style.width = "300px";
          document.getElementById("content").style.marginLeft = "300px"
       

        }
      }

        function closeNav() {
          document.getElementById("sidebar").style.width = "0";
          document.getElementById("content").style.marginLeft= "0";
        }


        var toggler = document.getElementsByClassName("box");
        var i;
        
        for (i = 0; i < toggler.length; i++) {
          toggler[i].addEventListener("click", function() {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("check-box");
          });
        }


    </script>

         
</html>