<!DOCTYPE html>
<html>
	<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
  </head>  
    <body>

      <div class="header">
        <%- include('header') %>
      </div>

      <div class = "container">

        <div class="nav">
          <%- include('nav') %>
        </div>             

        <div id="content"> 
          <canvas></canvas>   
          <div id="data"> </div>
          <% if(typeof content === "undefined") {  }else{ %>
            <%- include(content) %>
          <% } %>
        </div>  

      </div>     

    </body>
</html>


<script>

  function getWorkView(id) {

    var xhttp = new XMLHttpRequest();

    xhttp.onreadystatechange = function() {

      if (this.readyState == 4 && this.status == 200) {
        document.getElementById("data").innerHTML = this.responseText;  
        alert('111');
        getWorkCanvas(id);
      }
      
    };    

    xhttp.open("GET", "/work/view/" + id , true);
    xhttp.send();

  }

    function getWorkCanvas(id) {
      alert('222');

      var xhr = new XMLHttpRequest();

      xhr.open("get", "/work/canvas/" + id , true);

      xhr.onreadystatechange = function () {
          if (xhr.readyState == 4) {
              if (xhr.status >= 200 && xhr.status < 300 || xhr.status == 304) {
                  var script = document.createElement("script");
                  script.type = "text/javascript";
                  script.text = xhr.responseText;
                  document.body.appendChild(script);
              }
          }
      };
      xhr.send(null);
    }
  

  var toggler = document.getElementsByClassName("caret");
  var i;
  
  for (i = 0; i < toggler.length; i++) {

    toggler[i].addEventListener("click", function() {
      this.parentElement.querySelector(".nested").classList.toggle("active");
      this.classList.toggle("caret-down");
    });
    
  }


</script>